name: Build and deploy ASP.Net Core app to Azure Web App - reenbitchat-server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore src/ReenbitChat.Web/ReenbitChat.Web.csproj

      - name: Build project
        run: dotnet build src/ReenbitChat.Web/ReenbitChat.Web.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish src/ReenbitChat.Web/ReenbitChat.Web.csproj -c Release -o ./publish --no-build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: published-app
          path: ./publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: published-app
          path: ./publish
      
      - name: Verify artifact contents
        run: dir ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_12DE87AE32DC4460B9176EAA9F438C99 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9284377A4E94476795B7844D4043185E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_901077E923A643EA9EBBB76AA427EB21 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'reenbitchat-server'
          package: ./publish
